@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: -
        }
        BudgetManager
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
    @RenderSection("css", false)

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
            </section>

            <section class="content">
                @{
                    ViewBag.Title = "Index";
                    ViewBag.Description = "Home Page";

                    string messageColour;

                    if (TempData["MessageColour"] != null)
                    {
                        messageColour = TempData["MessageColour"].ToString();
                    }
                    else
                    {
                        messageColour = "success";
                    }
                }

                @if (TempData["Message"] != null)
                {
                    <div class="box box-solid box-@messageColour">
                        <div class="box-header with-border">
                            <h3 class="box-title">Message</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div><!-- /.box-tools -->
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            @TempData["Message"]
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                }
                @RenderBody()
            </section>
        </div>

        @*@Html.Partial("_ControlSidebar")*@
    </div>

    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    @RenderSection("Scripts", required: false)
    @RenderSection("ViewSpecificJavascript", required: false)
</body>
</html>